<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <plugins pluginpoint="oracle.iam.platform.kernel.spi.EventHandler">
      <plugin pluginclass="com.blogspot.oraclestack.eventhandlers.BulkModifyUserEHPostProcess" version="1.0" name="BulkModifyUserEHPostProcess"/>  
   </plugins>         
</oimplugins>
