<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <plugins pluginpoint="oracle.iam.platform.kernel.spi.EventHandler">  
      <plugin name="TelephoneNumberValidationEH" pluginclass="com.blogspot.oraclestack.eventhandlers.TelephoneNumberValidationEH" version="1.0">
   </plugin></plugins>             
</oimplugins>